html
    body
        <form method="post" action="/users/formregister">
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="submit" value="Submit">
        </form>